<mat-form-field class="example-full-width" appearance="fill" class="fullwidth">
    <mat-label>Search title</mat-label>
    <input type="text" matInput [formControl]="filterForm" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='doQuiz($event.option.value)'>
      <mat-option *ngFor="let match of filteredTitles | async" [value]="match">
        {{match.title}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
<div fxLayout="row" class="submit" fxLayoutAlign="space-between center" *ngIf="auth.isAuthenticated$ | async">
    <button [routerLink]="'/quiz-list'" mat-raised-button color="primary">Go to your quiz</button>
</div>